footer {
  background-color: #171728;
  padding: 3rem 1rem;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 7rem;
}

footer a {
  color: var(--color-white);
}

footer a:hover,
footer a:focus-visible {
  color: #a9a9a9;
}

.footer-logo {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  display: inline-block;
}

.permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 2rem;
}

.footer-socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.footer-socials a {
  background-color: var(--color-bg);
  color: var(--color-white);
  padding: 0.8rem;
  border-radius: 0.7rem;
  display: flex;
  border: 1px solid transparent;
}

.footer-socials a:hover {
  background-color: transparent;
  border-color: var(--color-bg);
}

.footer-socials a svg {
  height: 20px;
  width: 20px;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 4rem;
  color: var(--color-white);
}

/* ========== MEDIA QUERIES (Small Devices) ========== */

@media screen and (max-width: 600px) {
  .permalinks {
    flex-direction: column;
    gap: 1.5rem;
  }
}